/* App & Window Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Stacks childer on top of each other */
    background: #c6a6ce;
    font-family: 'Courier New', Courier, monospace;
}

/* Title Bar */

.title-bar{
    background-color: #af7fc9;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
    height: 25px;
    padding: 5px 10px;
}

#some-title {
    justify-content: left;
}

.title-bar-btns{
    justify-content: right;
}

/* Tabs */

.tab{
    background-color: #c6a6ce;
    font-family: 'Courier New', Courier, monospace;
}

/* Now Playing Tab (Main) */

.seek-bar{
    display: flex;
    flex-direction: row;
    gap: 0px;
}

